h1{
    color:darkblue
}
h2{
    color:lightcoral
}
.hometab{
    background-color: lightpink;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: solid;
}
.eventTab{
    background-color: lightskyblue;
    display: list-item;
    justify-content: space-around;
    flex-direction: column;
    
}